<h1>New Recipe Form</h1>

<%= form_tag "/new_recipe_result", method: :post do %>
	<div>
		Title: <input type="text" name="title">
	</div>
	<div>
		Chef: <input type="text" name="chef">
	</div>
	<div>
		Ingredients: <input type="text" name="ingredients">
	</div>
	<div>
		Directions: <input type="text" name="directions">
	</div>
	<div>
		Image: <input type="text" name="image">
	</div>
	<div>
		Prep Time: <input type="text" name="prep_time">
	</div>
	<input type="submit" value="Save Recipe">
<% end %>